NAME="Learning Management Service"
DEBUG=false
ADDRESS=127.0.0.1
PORT=42000
RELOAD=true
LMS_API_KEY=Vas.lisa2907))
AUTOCHECKER_API_URL=https://auche.namaz.live
AUTOCHECKER_EMAIL=v.tumakina@innopolis.university
AUTOCHECKER_PASSWORD=vasilisatumakina29lisa_va_si
DB_HOST=localhost
DB_PORT=5432
DB_NAME=lab-6
DB_USER=postgres
DB_PASSWORD=postgres
